body {
	font: 0.75em Verdana; /* 12px */
}

a, a:visited {
	text-decoration: none;
	color: #444;
}

a:hover {
	text-decoration: underline;
	color: #FF6A00;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

fieldset legend {
	color: #FF6A00;
	font-size: 1.2em;
	padding: 1em 0 0 0;
}

fieldset .row {
	padding-top: 1em;
}

fieldset label {
	display: block;
	float: left;
	width: 8em;
	margin-top: 0.25em;
	padding-left: 2em;
	text-align: right;
}

fieldset input {
	margin: 0 0.5em 0 1em;
}

fieldset #Email {
	width: 17em;
}

fieldset .align-inputs {
	margin: 2em 0 0 10em;
}

fieldset .align-inputs span {
	padding-left: 1em;
}

fieldset #submit-row a {
	margin-left: 1em;
}

#auth-user {
	display: inline;
	float: left;
	margin-left: 25em;
	margin-bottom: 0.3em;
}

#auth-links {
	display: inline;
	float: right;
	width: 19.1em;
	margin-bottom: 0.3em;
}

#header {
	clear: both;
	background-color: #444;
	border-bottom: 2px solid #111;
	color: white;
	padding: 0.6em;
}

#header #website-name {
	display: inline;
	font-size: 2em;
}

#header #website-name a {
	text-decoration: none;
	color: white;
}

#header #search {
	float: right;
	margin-top: 0.5em;
}

#navbar {
	float: left;
	width: 8em;
	padding: 0.5em;
	border-right: 2px solid gray;
	min-height: 40em;
}

#navbar h2 {
	font-weight: bold;
}

#navbar ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#navbar li {
	border-bottom: 1px solid silver;
}

#navbar a {
	display: block;
	padding: .6em; 
	color: black;
	text-decoration: none;
}

#navbar a:hover { 
	background-color: #CCC; 
}

#navbar strong {
	display: block;
	padding: .6em; 
	background-color: #666; 
	color: White; 
}

#content {
	width: 50em;
	margin-left: 9em;
	padding: 1em 1em 1em 2em;
	min-height: 40em;
}

#content h2 {
	margin: 0 0 0.833em 0;
	font-weight: bold;
}

.list ul {
	list-style-type: none;
	padding-left: 0;
}

.list li {
	margin-bottom: 0.5em;
}

.table {
	display: block;
}

.table table {
	border: 0;
}

.table .label {
	color: #444;
	padding-right: 1em;
}

.page-links {
	text-align: left;
	margin-top: 3em;
}

.page-links a {
	font-size: 1.1em; 
	color: #666; 
	text-decoration: none;
	padding: .1em .4em .1em .4em;
	margin: 0 .2em 0 .2em;
}

.page-links a:hover  {
	background-color: Silver; 
}

.page-links a.selected  {
	background-color: #353535; 
	color: White; 
}

.diagnostics {
	display:block;
	clear: both;
	margin-top: 2em;
	border-top: 1px solid #444;
}

.sql {
	font-size: 1em;
	font-family: Courier New, Courier; 
}

.field-validation-error {
	color: red; 
}

.input-validation-error {
	border: 2px solid red; 
	background-color: #ffeeee; 
}

.validation-summary-errors {
	color: red; 
	margin-left: 11em;
}

.pager {
	float: right;
	padding-top: 0.6em;
}

.pager a, .pager .disabled, .pager .selected {
	padding: .2em .5em .2em .5em; 
}

.pager .first, .pager .prev {
	border-right: 1px solid #444;
}

.pager .next, .pager .last {
	border-left: 1px solid #444;
}

.pager a {
	color: black;
	text-decoration: none;
}

.pager a:hover { 
	background-color: #ccc; 
}

.pager .disabled {
	color: Gray;
}

.pager .selected {
	color: #FF6A00; 
	font-weight: bold;
}
